{
  "env": {
    "test": {
      "presets": [
        "es2015",
        "stage-2",
        "react"
      ]
    }
  },
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
